@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nomina", sans-serif;
  }

  body {
    @apply bg-primary text-gray-800;
  }

  .dark body {
    @apply bg-gray-900 text-white;
  }

  .fonts {
    font-family: "Calesta", serif;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-bold;
}

.active {
  @apply bg-blue-100 text-blue-600;
}

.circle-svg {
  @apply text-secondary;

  width: 100%;
  height: 100%;
  background-size: contain;
  animation: reverseSpin 8s linear infinite;
}

.shuriken-svg {
  @apply text-secondary;

  width: 60%;
  height: 60%;
  background-size: contain;
  animation: spinShuriken 8s linear infinite;
}

.carousel-container {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 28px;
  right: 5px;
  background-color: #ef4444;
  color: #ffffff;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.delete-button:hover {
  background-color: #dc2626;
}

.carousel .control-prev,
.carousel .control-next {
  display: none;
}
@media (max-width: 640px) {
  .table-container {
    overflow-x: auto;
  }

  .modal {
    width: 90%;
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spin-reverse {
  animation: reverseSpin 8s linear infinite;
}

@keyframes spinShuriken {
  0% {
    transform: rotate(0deg) scale(1);
    transform-origin: center;
  }
  25% {
    transform: rotate(90deg) scale(1.2);
    transform-origin: center;
  }
  50% {
    transform: rotate(180deg) scale(1);
    transform-origin: center;
  }
  75% {
    transform: rotate(270deg) scale(1.2);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg) scale(1);
    transform-origin: center;
  }
}

@layer components {
  .preloader {
    @apply fixed inset-0 w-screen h-screen bg-opacity-80 flex items-center justify-center z-[9999];
    background-color: theme("colors.primary");
  }

  .spinner {
    @apply border-8 border-solid border-t-secondary rounded-full w-12 h-12;
    border-color: theme("colors.secondary") transparent;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
