@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nomina', sans-serif;
  }

  body {
    @apply bg-primary text-gray-800;
  }

  .dark body {
    @apply bg-body-dark text-white;
  }

  .fonts,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Calesta', serif;
  }
}

.circle-svg {
  @apply text-accent-light dark:text-accent-dark;
  width: 100%;
  height: 100%;
  background-size: contain;
  animation: reverseSpin 8s linear infinite;
}

.shuriken-svg {
  @apply text-accent-light dark:text-accent-dark;

  width: 60%;
  height: 60%;
  background-size: contain;
  animation: spinShuriken 8s linear infinite;
}

.carousel-container {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 28px;
  right: 5px;
  background-color: #ef4444;
  color: #ffffff;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.delete-button:hover {
  background-color: #dc2626;
}

.carousel .control-prev,
.carousel .control-next {
  display: none;
}
@media (max-width: 640px) {
  .table-container {
    overflow-x: auto;
  }

  .modal {
    width: 90%;
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spin-reverse {
  animation: reverseSpin 8s linear infinite;
}

@keyframes spinShuriken {
  0% {
    transform: rotate(0deg) scale(1);
    transform-origin: center;
  }
  25% {
    transform: rotate(90deg) scale(1.2);
    transform-origin: center;
  }
  50% {
    transform: rotate(180deg) scale(1);
    transform-origin: center;
  }
  75% {
    transform: rotate(270deg) scale(1.2);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg) scale(1);
    transform-origin: center;
  }
}

@layer components {
  .preloader {
    @apply fixed inset-0 w-screen h-screen bg-opacity-80 flex items-center justify-center z-[9999];
    background-color: theme('colors.primary');
  }

  .pageloader {
    @apply flex items-center justify-center bg-opacity-80;
  }

  .spinner {
    @apply border-8 border-solid border-t-accent-light rounded-full w-12 h-12;
    border-color: theme('colors.accent-light') transparent;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide scrollbars everywhere */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

@media (prefers-color-scheme: dark) {
  .spinner {
    border-color: theme('colors.accent-dark') transparent;
  }
}
